.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: var(--subWrapperWidth);
  margin-top: var(--gap);
}

.loader img {
  width: 100%;
  max-width: 100px;
}
