:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  --textColor: #181818;
  --gap: 45px;
  --subWrapperWidth: 600px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--textColor);
  font-size: 16px;
}
